$padding: 16px;

#projects{
  
  a{
    color:$darker-blue;
    text-decoration:none;
    &:hover{
      color:$lime;
      text-decoration:underline;
    };
  }
  
  .project{
    margin-top:$padding;
    border-top:1px solid #000;
    padding-top:$padding;
    max-width:820px;
    &:first-child{
      border-top:none;
    };
  }
  
  .topblock{
    padding-bottom:$padding;
    border-bottom:1px solid #aaa;
    margin-bottom:$padding;
    h3{
      float:left;
      font-size:17px;
    }
    a{
      float:right;
      color:$darker-blue;
      font-size:13px;
      text-decoration:none;
      padding-top:3px;
      padding-right:10px;
      padding-left:30px;
    }
  }
  
  .leftblock{
    max-width:480px;
    float:left;
    p{
      font-size:14px;
      margin-bottom:1em;
    }
    .links{
    }
  }
  .rightblock{
    width:300px;
    float:left;
    img{
      float:right;
      width:144px;
      height:100px;
      padding:2px;
      margin:2px;
      border:1px solid #ccc;
    }
    .facebook{
      float:right;
      width: 100px;
      margin-top: 26px;
    }
  }
}

.info.projects{
  p{
    font-size:16px;
  }
}