<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js" lang="en">
<head>
  <!--
   Welcome, source-code viewer! Checking under the hood?
   This site was built in 2013 is updated every sometimes.
  -->

  <title>Bay Gross</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="Bay Gross, Google, Cityblock, Sidewalk Labs, YouTube, Thrive, APM, Product Manager, Developer, VC, Venture Capital, Thrive, NYC, Medford Oregon, Zurich, Yale University, Saint Mary's School, HackYale, EssayTyper, HardlyWork.in" />
  <meta name="author" content="Bay Gross" />
  <meta name="copyright" content="Copyright (C) 2018 Bay Gross" />
  <meta property="description" content="Bay Gross is a Product Manager and Full-stack Developer, living in NYC. ">
  <meta name="google-site-verification" content="cdI7l-x4IInnQsXZYBIj-o7xpCb4bu1e_9aYwnmxsHw" />
  <meta property="og:title" content="Bay Gross">
  <meta property="og:site_name" content="Bay Gross">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://www.baygross.com/images/fb_logo.png">
  <meta property="og:url" content="http://www.baygross.com">
  <meta property="og:description" content="Bay Gross is a Product Manager and Full-stack Developer, living in NYC.">
  <meta property="fb:admins" content="1343225522">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>

  <!-- left column -->
  <aside id="leftcol">
    <img id="atom" src="/images/atom.png">

    <div class="about info">
      <h3>Bay Gross</h3>
      <p>
      NYC 
      </p>
      <p>
        Product manager and full-stack developer. 
      </p><p>Interested in good technology, high-growth operations, and meaningful social problems. 
      </p>
    </div>

    <div class="projects info">
      <h3>Projects</h3>
      <p>
        A collection of side projects &amp; hacks, mostly from university days.
      </p>
      <p>Some of the more viral (if less redeemable) have seen coverage in
        <a href="http://www.forbes.com/sites/kashmirhill/2011/12/15/as-facebook-timeline-rolls-out-find-out-how-well-you-know-your-friends/">Forbes</a>,
        <a href="http://mashable.com/2011/07/03/hardlyworkin-excel-facebook/">Mashable</a>,
        <a href="http://techland.time.com/2011/07/05/how-to-disguise-facebook-as-a-common-spreadsheet/">TIME</a>,
        <a href="http://abcnews.go.com/GMA/video/disguise-facebook-excel-spreadsheet-pop-news-heat-index-14331453">Good Morning America</a>,
        <a href="http://techcrunch.com/2012/03/22/amicus-seed-funding/">TechCrunch</a>,
        <a href="http://www.buzzfeed.com/ariannarebolini/there-is-a-website-that-will-write-all-your-finals-essays#.qxxnxVREGZ">Buzzfeed</a>,
        <a href="http://www.theatlantic.com/technology/archive/2011/06/hardlyworkin-turns-your-facebook-news-feed-into-a-spreadsheet/241044/">theAtlantic</a>,
        <a href="http://www.economist.com/news/business/21567403-techniques-presidents-election-campaigns-have-spawned-one-lot-young-firms-obama?fsrc=scn/tw_ec/the_obama_start_ups">Economist</a>,
        <a href="http://www.businessinsider.com/essay-typer-will-write-papers-for-you-2015-6">Business Insider</a>,
        and more.
        <br/><br />
        One's been published in <a href="https://www.psychologytoday.com/sites/default/files/Whatsherfacebook_0.pdf">Psychology Today</a>, and defended by <a href="https://www.eff.org/deeplinks/2015/07/eff-defends-whats-her-face-facebook">the EFF</a>.

      </p>
    </div>


    <div class="tweeting info">
      <p>
        ☞&nbsp;<a href="https://twitter.com/intent/user?screen_name=baygross">Follow me</a>
      </p>
    </div>

    <div class='clearfix'></div>

  </aside>


  <!-- Main panel column -->
  <section id="maincol">

    <nav class="top-nav">
      <span id='lnk_about' alt="about" class="nav" title="About">About</span>
      <span id='lnk_projects' alt="projects" class="nav" title="Projects">Projects</span>
      <span id='lnk_tweeting' alt="tweeting" class="nav" title="What I&#39;m tweeting">Tweets</span>
    </nav>

    <!-- panels insert here -->
    <div id='panel-wrapper'>
      <%= erb ("/panels/loading").to_sym %>
      <%= yield %>
    </div>

  </section>

  <!-- google analytics -->
  <%= erb :google %>

</body>
</html>