<div id='about' class='panel'>
  <ul>
    <li class="first">
      <p><span>Work</span>Co-founder at <a href="http://www.cityblock.com">Cityblock Health</a></p>
      
      <p>We're a new kind of healthcare company, based out of Brooklyn. Started in the fall of 2017, Cityblock has quickly grown to 100+ employees serving thousands of patients in the greater NYC area. Our focus is on complex and underserved Medicaid populations, and our doctors and nurses deliver a home-based intensive primary care model with integrated behavioral health, substance abuse counseling, and social benefits coordination (think: housing support, legal support).</p>

      <p>It's a fascinating and operationally complex business, and we are building out an in-house Engineering team from day one, with early teammates hailing from Google, Facebook, Artsy, Uber, Knewton, Compass, Oscar, and Squarespace.</p>

      <p>Cityblock has raised $25M in venture capital and is growing quickly. You can learn more about our 
        <a href="http://cityblock.com/careers">open careers here</a>. 👈</p>


    </li>
    <li>
      <p><span>Previously</span>Product &amp; Incubation at <a href="https://sidewalklabs.com/">Sidewalk Labs</a></p>
      <p>Venture Investing at Thrive Capital</p>
      <p>Product Management at Google (NYC, Bangalore) and YouTube (Zurich).      
    </li>

    <li>
      <span>Education</span>Computer Science at Yale
    </li>
    <li>
      <span>Twitter</span><a href="http://twitter.com/baygross">@baygross</a>
    </li>
    <li>
      <span>LinkedIn</span><a href="http://www.linkedin.com/in/baygross">linkedin.com/in/baygross</a>
    </li>
    <li>
      <span>Code</span><a href="http://github.com/baygross/">github.com/baygross</a> <i style="font-size:14px">[R, SQL, Ruby/Rails, Python, Javascript, Sketch]</i>
    </li>
    <li>
      <span>Reading</span><a href="https://www.goodreads.com/user/show/59767262-bay-gross/">Goodreads</a>, 
      <a href="https://stratechery.com/">Stratechery<a>, 
      <a href="https://tinyletter.com/oversharing/">Oversharing<a>, 
      <a href="http://slatestarcodex.com/">SSC<a>, 
      <a href="https://www.olearykm.com/newsletter/">Kevin O'Leary<a>

    </li>
    <li class="last">
      <span>Contact</span><a href='mailto:baygross@gmail.com'>baygross@gmail.com</a>
    </li>
    <li class="bigspacer">
      <span>Interests</span>Healthcare Innovation, Data Viz & Generative Art, Urbanization, Productivity Tooling, and Digital Privacy/Security.
    </li>
  </ul>
</div>