<div id='about' class='panel'>
  <ul>
    <li class="first">
      <span>Work</span>Associate Product Manager at Google, NYC
    </li>
    <li>
      <span>Education</span>Computer Science at Yale
    </li>
    <li>
      <span>Previously</span><a class='nav' href="/projects/#hackyale">HackYale</a>, <a class='nav' href="/projects/#amicus">Amicus</a>
    </li>		    
    <li>
      <span>Projects</span><a class='nav' href="/projects/#essaytyper">EssayTyper</a>, <a class='nav' href="/projects/#hardlyworkin">HardlyWork.in</a>,
      &amp; <a class="nav" alt="projects" href="/projects">more</a>
    </li>  
    <li>
      <span>Twitter</span><a href="http://twitter.com/baygross">@baygross</a>
    </li>
    <li>
      <span>LinkedIn</span><a href="http://www.linkedin.com/in/baygross">linkedin.com/in/baygross</a>
    </li>
    <li>
      <span>Code</span><a href="http://github.com/baygross/">github.com/baygross</a>
    </li>
    <li class="last">
      <span>Contact</span><a href='mailto:bay.gross@yale.edu'>bay.gross@yale.edu</a>
    </li>
      
    <li class="bigspacer">
      <span>Interests</span>Civic-Tech, Med-Tech, Personal Analytics, and Digital Privacy.
    </li>    
  </ul>
</div>