<div id='projects' class='panel'>

  <% %w[ generative prism essaytyper bitcoin saybot hackyale whatsherface-book hardlyworkin chickentenders stats amicus
          travelogue turntaylor browserdating photobama
         subletmeyale chomalab ].each do |proj| %>
    <%= erb ('projects/'+proj).to_sym %>
  <% end %>

  <script type='text/javascript'>
  $(document).ready(function() {
  	$(".fancybox").fancybox();
  });
  </script>
</div>