<div id='projects' class='panel'>
    
  <% %w[ amicus essaytyper hardlyworkin travelogue hackyale
         chickentenders whatsherface-book subletmeyale chomalab ].each do |proj| %>
    <%= erb ('projects/'+proj).to_sym %>  
  <% end %>
  
  <script type='text/javascript'>
  $(document).ready(function() {
  	$(".fancybox").fancybox();
  });
  </script>
</div>