<div id='projects' class='panel'>

  <% %w[ prism essaytyper amicus hackyale hardlyworkin turntaylor
         whatsherface-book browserdating photobama travelogue chickentenders
         subletmeyale chomalab ].each do |proj| %>
    <%= erb ('projects/'+proj).to_sym %>
  <% end %>

  <script type='text/javascript'>
  $(document).ready(function() {
  	$(".fancybox").fancybox();
  });
  </script>
</div>