<div id='projects' class='panel'>

  <% %w[ prism essaytyper hackyale whatsherface-book amicus hardlyworkin chickentenders
          browserdating photobama travelogue turntaylor
         subletmeyale chomalab ].each do |proj| %>
    <%= erb ('projects/'+proj).to_sym %>
  <% end %>

  <script type='text/javascript'>
  $(document).ready(function() {
  	$(".fancybox").fancybox();
  });
  </script>
</div>