/*  Site Wide CSS */

html, body, .wrapper{
	overflow-y: hidden;
	height: 100%;
}
//*{	box-sizing: border-box; }

body{
	margin: 0px;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 18px;
	line-height: 1.4;
  min-width:461px;
}

aside#leftcol{
	height: 100%;
}
section#maincol{
  height:auto;
  min-width:400px;
}

aside{
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	background-color: $green;
	border-right: 1px solid #AAA;
  
  img#atom{
  	width: 144px;
  	margin: 40px 40px;
    &.rotate{
      overflow:hidden;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;

      -webkit-transform:rotate(60deg);
      -moz-transform:rotate(60deg);
      -o-transform:rotate(60deg);
      &:hover
      {
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
      }
      &.extra{
        -webkit-transform:rotate(240deg);
        -moz-transform:rotate(240deg);
        -o-transform:rotate(240deg);
      }
      &.instant{
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
  }

 .info{
  	position: absolute;
  	bottom: 20px;
    display:none;
    padding-top:20px;
    &.active{display:block;}
    
    h3{
      	padding: 0px 30px;
      	font-size: 32px;
      	font-weight: normal;
      	line-height: 1;
      	color: #fff;
      	margin-bottom: 12px;
      	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
      	font-weight: 100;
      	letter-spacing: 1px;
    }
    p{
      font-size:16px;
      padding: 10px 30px;
      color: #fff;
    }
    a{
    	color: #fff;
    	text-decoration: none;
      @include transition(color .1s);
      border-bottom:1px dotted #fff;
      &:hover{
    	color: $lime;
      border-bottom:none;
      }
    }
    
  }
}


section#maincol{
	position: absolute;
	top: 0;
	left: 240px;
  bottom:0;
  overflow:auto;
	padding: 90px 60px 90px 100px;
	border-left: 1px solid #888;
}

nav{
	max-width: 720px;
	height: 32px;
	border-bottom: 1px solid #dededc;
  margin-bottom: 2px;
	font-size: 14px;
	color: #b3b3b1;
  
  span{
  	text-decoration:none;
  	letter-spacing: 2px;
  	padding-bottom: 13px;
  	font-size: 12px;
  	text-transform: uppercase;
  	color: #b3b3b1;
  	margin-right:8px;
    @include transition(color .1s);
    
    &.active{
    	border-bottom: 1px solid #000;
    	color: #000;
    }
    &:hover{
      color:#555;
      cursor:pointer;
    };
  }
}

// for error pages, etc
.single-page-message{
  padding:30px;
}