@import 'mixins';
@import 'base';

$green: #21AD90;
$blue: #0060b7;
$orange: #fc8802;
$lime: #9ac851;
$darker-blue: #3b5998;

@import 'layout';

@import 'panels/about';
@import 'panels/projects';
@import 'panels/blog';
@import 'panels/tweeting';
@import 'panels/reading';

@import 'mobile'