/*
  base.css contains a reset, font normalization and some base styles.
  */
/* http://html5boilerplate.com/ @author @paul_irish */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

ul {
  margin-left: 0px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

html {
  overflow-y: scroll; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/**
 * END BASE CSS
 **/
/*  Site Wide CSS */
html, body, .wrapper {
  overflow-y: hidden;
  height: 100%; }

body {
  margin: 0px;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 18px;
  line-height: 1.4;
  min-width: 461px; }

aside#leftcol {
  height: 100%; }

section#maincol {
  height: auto;
  min-width: 400px; }

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  background-color: #313638;
  border-right: 1px solid #AAA; }
  aside img#atom {
    width: 144px;
    margin: 40px 40px; }
    aside img#atom.rotate {
      overflow: hidden;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -o-transform: rotate(60deg); }
      aside img#atom.rotate:hover {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg); }
      aside img#atom.rotate.extra {
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -o-transform: rotate(240deg); }
      aside img#atom.rotate.instant {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s; }
  aside .info {
    position: absolute;
    bottom: 20px;
    display: none;
    padding-top: 20px; }
    aside .info.active {
      display: block; }
    aside .info h3 {
      padding: 0px 30px;
      font-size: 32px;
      line-height: 1;
      color: #fff;
      margin-bottom: 12px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      font-weight: 200;
      letter-spacing: 1px; }
    aside .info p {
      font-size: 16px;
      padding: 10px 30px;
      color: #fff; }
    aside .info a {
      color: #fff;
      text-decoration: none;
      -moz-transition: color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear;
      border-bottom: 1px dotted #fff; }
      aside .info a:hover {
        color: #9ac851;
        border-bottom: none; }

section#maincol {
  position: absolute;
  top: 0;
  left: 240px;
  bottom: 0;
  overflow: auto;
  padding: 70px 60px 90px 100px;
  border-left: 1px solid #888; }

nav {
  max-width: 720px;
  height: 31px;
  border-bottom: 1px solid #dededc;
  margin-bottom: 2px;
  font-size: 14px;
  color: #b3b3b1; }
  nav span {
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 13px;
    font-size: 12px;
    text-transform: uppercase;
    color: #838381;
    margin-right: 8px;
    -moz-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
    nav span.active {
      border-bottom: 1px solid #000;
      color: #000; }
    nav span:hover {
      color: #444;
      cursor: pointer; }

.single-page-message {
  padding: 30px; }

#about {
  max-width: 720px;
  line-height: 1.25em; }
  #about ul {
    margin-top: 40px;
    padding-left: 0px;
    list-style-type: none; }
  #about li {
    margin-bottom: 12px;
    padding-left: 105px; }
    #about li.first {
      margin-bottom: 25px;
      background-color: rgba(250, 190, 20, 0.25);
      margin-left: -100px;
      margin-right: -150px;
      padding-left: 200px;
      padding-top: 10px;
      padding-bottom: 12px;
      padding-right: 150px; }
      #about li.first p {
        margin-top: 9px; }
    #about li.bigspacer {
      margin-top: 50px; }
    #about li p {
      margin-top: 6px; }
  #about li span {
    color: #888;
    text-indent: -105px;
    display: inline-block; }
  #about a {
    color: #0060b7;
    text-decoration: none;
    -moz-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
    #about a:hover {
      color: #003362; }

.about.projects p {
  font-size: 18px; }

#projects a {
  color: #3b5998;
  text-decoration: none; }
  #projects a:hover {
    color: #9ac851;
    text-decoration: underline; }
#projects .project {
  margin-top: 16px;
  border-top: 1px solid #000;
  padding-top: 16px;
  max-width: 794px; }
  #projects .project:first-child {
    border-top: none; }
#projects .topblock {
  padding-bottom: 16px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 16px; }
  #projects .topblock h3 {
    float: left;
    font-size: 17px; }
  #projects .topblock span.date {
    float: right;
    font-size: 13px; }
  #projects .topblock a {
    float: right;
    color: #3b5998;
    font-size: 13px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 30px; }
#projects .leftblock {
  max-width: 480px;
  float: left; }
  #projects .leftblock p {
    font-size: 14px;
    margin-bottom: 1em; }
#projects .rightblock {
  margin-left: 6px;
  width: 308px;
  float: left; }
  #projects .rightblock img {
    float: right;
    width: 144px;
    height: 100px;
    padding: 2px;
    margin: 2px 0px 4px 2px;
    border: 1px solid #ccc; }
  #projects .rightblock .facebook {
    float: right;
    width: 100px;
    margin-top: 26px;
    overflow: hidden; }

#blog .post {
  max-width: 740px;
  margin-top: 6px;
  border-top: 1px dotted #ccc;
  padding-top: 8px; }
  #blog .post:first-child {
    border-top: none;
    margin-top: 18px; }
  #blog .post .excerpt {
    font-size: 14px; }
    #blog .post .excerpt p {
      margin: 1em 0; }
    #blog .post .excerpt a {
      color: #0060b7;
      text-decoration: none;
      -moz-transition: color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }
      #blog .post .excerpt a:hover {
        color: #003362; }
    #blog .post .excerpt b, #blog .post .excerpt em, #blog .post .excerpt strong {
      font-weight: normal; }
  #blog .post .title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding-bottom: 1px;
    display: inline-block; }
    #blog .post .title:hover {
      padding-bottom: 0px;
      color: #3b5998;
      border-bottom: 1px dotted #3b5998; }
  #blog .post .date {
    font-size: 12px;
    color: #888;
    padding-bottom: 3px; }
  #blog .post .readmore {
    font-size: 11px;
    font-style: italic;
    color: #888;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block; }
    #blog .post .readmore:hover {
      color: #0060b7;
      text-decoration: underline; }

#tweeting {
  padding-top: 18px; }

#reading .article {
  width: 740px;
  margin-top: 6px;
  border-top: 1px dotted #ccc;
  padding-top: 8px; }
  #reading .article.hidden {
    display: none; }
  #reading .article:first-child {
    border-top: none;
    margin-top: 18px; }
  #reading .article .leftblock {
    width: 540px;
    float: left; }
  #reading .article .photo {
    max-height: 140px;
    max-width: 180px;
    padding-top: 10px;
    padding-left: 20px;
    float: left; }
  #reading .article .summary {
    font-size: 14px;
    font-style: italic; }
  #reading .article .title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding-bottom: 1px;
    display: inline-block; }
    #reading .article .title:hover {
      padding-bottom: 0px;
      color: #3b5998;
      border-bottom: 1px dotted #3b5998; }
  #reading .article .author {
    font-size: 14px; }
  #reading .article .date {
    font-size: 12px;
    color: #888;
    padding-bottom: 3px; }
  #reading .article .source {
    float: right;
    margin-top: -2px;
    margin-right: 4px;
    font-size: 12px;
    text-decoration: none;
    color: #555; }
    #reading .article .source img {
      padding-right: 1px;
      margin-bottom: -2px;
      max-height: 12px; }
    #reading .article .source:hover {
      color: #fc8802; }
#reading #reveal {
  width: 400px;
  margin: 80px 60px;
  padding: 6px;
  text-align: center;
  background-color: #21AD90;
  color: white; }
  #reading #reveal:hover {
    cursor: pointer;
    text-decoration: underline;
    border-bottom: 1px solid #999; }

.mobile {
  overflow: auto; }
  .mobile aside#leftcol, .mobile section#maincol {
    height: auto; }
  .mobile aside {
    position: static;
    width: 100%;
    border-bottom: 1px solid #AAA;
    border-right: none; }
    .mobile aside img#atom {
      display: none; }
    .mobile aside .info {
      position: static;
      float: left; }
      .mobile aside .info p {
        padding-top: 0px; }
  .mobile section#maincol {
    position: static;
    width: 100%;
    overflow: auto;
    padding: 20px 30px;
    border-top: 1px solid #888;
    border-bottom: none; }