<div id='amicus' class='project'>
  <div class='topblock clearfix'>
    <h3>Amicus: Social fundraising for civic organizations</h3>
    <span class='date'>Summer 2011</span>

  </div>

  <div class='leftblock'>
    <p>
      Amicus was a VC-backed startup based out of New York City that leveraged social connections (FB graph, etc) to help non-profits expand and engage with their constituency.
    </p>
    <p>
      I helped build the v1 product and raise seed funding, working across the stack as part of a two man development team.
      Departed team fully in early 2012.
    </p>
    <p>role: member of founding team: development, design, product.<br/>
    tools: Rails, SQL, jQuery, AWS, Twilio, FB Graph</p>
    <p class="links">
      <b>Press</b><br/>
      <a href='http://www.theatlantic.com/politics/archive/2012/11/my-best-friend-is-gay-where-social-networks-meets-same-sex-marriage/265793/' target="_blank">theAtlantic</a>
      <br /><a href='http://techcrunch.com/2012/11/13/amicus/' target='_blank'>TechCrunch</a>
      <br /><a href="http://techcrunch.com/2012/03/22/amicus-seed-funding/" target="_blank">TechCrunch</a>
      <br /><a href="http://thenextweb.com/shareables/2011/12/01/work-at-this-company-and-youll-get-a-cow-a-fixie-and-an-unlimited-supply-of-your-favorite-beer/" target="_blank">theNextWeb</a>
      <br /><a href='http://www.economist.com/news/business/21567403-techniques-presidents-election-campaigns-have-spawned-one-lot-young-firms-obama?fsrc=scn/tw_ec/the_obama_start_ups' target='_blank'>Economist</a>
    </p>

  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_amicus" href="/images/work/amicus_1.png"><img src="/images/work/amicus_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_amicus" href="/images/work/amicus_2.png"><img src="/images/work/amicus_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_amicus" href="/images/work/amicus_3.png"><img src="/images/work/amicus_3_s.png" alt="" /></a>
    <a class="fancybox" rel="group_amicus" href="/images/work/amicus_4.png"><img src="/images/work/amicus_4_s.png" alt="" /></a>

    <div class="facebook">
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAmicusHQ&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90&amp;appId=201104303315038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe>
    </div>

  </div>

  <div class='clearfix'></div>
</div>
