<div id='bitcoin' class='project'>
  <div class='topblock clearfix'>
    <h3>Bitcoin Remote Controller</h3>
    <span class='date'>Fall 2017</span>

  </div>

  <div class='leftblock'>
      <p>
        In the summer/fall '17 bitcoin craze, I built a physical remote for real-time trading of the currency. 
        Fire up a dashboard of the latest price puts, and let 'er rip. 
        Collaboration with <a href="http://twitter.com/matbalez">@matbalez</a> 
      </p>
      <p>tools: AWS Lambda, Amazon Dash buttons, Python, GDAX Api</p>
      <p><a href="https://github.com/baygross/bitbutton">code</a>
  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_bitcoin" href="/images/work/bitcoin_1.png"><img src="/images/work/bitcoin_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_bitcoin" href="/images/work/bitcoin_2.png"><img src="/images/work/bitcoin_2_s.png" alt="" /></a>

  </div>

  <div class='clearfix'></div>
</div>
