<div id='chickentenders' class='project'>
  <div class='topblock clearfix'>
    <h3>IsItChickenTendersDay.com?: The one question that drives us all.</h3>
    <a href='http://isitchickentendersday.com'>Website</a>
  </div>
  
  <div class='leftblock'>
    <p>
      After nearly missing Yale Dining's flagship hand-breaded entrée one fateful afternoon in 2011, I vowed it would neigh happen again.
    </p>
    <p>
      Now tender-fans across campus are never caught off-guard, and every 
      Chicken-Tenders-Thursday 700+ students wake up to a text proclaiming the good news.  
    </p>
    <p>tools: Twilio, Rails, Nokogiri</p>
    <p class="links"> 
      <b>Press</b><br/>
      <a href="http://yaleherald.com/thebullblog/it-is-chicken-tenders-day-today/" target="_blank">Yale Herald</a>
      <a href="http://yaledailynews.com/weekend/2012/03/06/stuff-yalies-like-5-chicken-tenders-day/" target="_blank">Yale Weekend</a>
    </p>

  </div>
  
  <div class='rightblock'>
    <a class="fancybox" rel="group_tenders" href="/images/work/chickentenders_1.png"><img src="/images/work/chickentenders_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_tenders" href="/images/work/chickentenders_2.png"><img src="/images/work/chickentenders_2_s.png" alt="" /></a>
    
    <div class='facebook'>
      <iframe src="//www.facebook.com/plugins/like.php?href=http://www.isitchickentendersday.com&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90&amp;appId=201104303315038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe>
    </div>
    
  </div>
  
  <div class='clearfix'></div>
</div>
