<div id='chomalab' class='project'>
  <div class='topblock clearfix'>
    <h3>ChomaLab: Video analysis for tadpole cardiac systems.</h3>
  </div>
  
  <div class='leftblock'>
      <p>
        I spent a few months in the Spring of 2011 working with the research lab of Dr. Michael Choma at Yale Medical School. 
        Our project entailed taking high-definition color photography of beating tadpole hearts, and then analyzing the 
        video to extract heart boundaries and estimate the volume change over time. 
      </p>
      <p>role: visual data analysis</p>
      <p>tools: Matlab</p>
      <p class="links"> 
          <a href="http://chomalab.wordpress.com/" target="_blank">Visit the lab</a>
      </p>
  </div>
  
  <div class='rightblock'>
    <a class="fancybox" rel="group_choma" href="/images/work/choma_1.png"><img src="/images/work/choma_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_choma" href="/images/work/choma_2.png"><img src="/images/work/choma_2_s.png" alt="" /></a>
  </div>
  
  <div class='clearfix'></div>
</div>
