<div id='generative' class='project'>
  <div class='topblock clearfix'>
    <h3>Generative Art & Image Analyses</h3>
    <span class='date'>2018</span>

  </div>

  <div class='leftblock'>
      <p>
        Recent work exploring browser-based (canvas) generative art, image modulations, etc. Ongoing. 
      </p>
      <p>tools: javascript, P5.js</p>
  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_generative" href="/images/work/generative_1.png"><img src="/images/work/generative_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_generative" href="/images/work/generative_2.png"><img src="/images/work/generative_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_generative" href="/images/work/generative_3.png"><img src="/images/work/generative_3_s.png" alt="" /></a>
    <a class="fancybox" rel="group_generative" href="/images/work/generative_4.png"><img src="/images/work/generative_4_s.png" alt="" /></a>

  </div>

  <div class='clearfix'></div>
</div>
