<div id='hackyale' class='project'>
  <div class='topblock clearfix'>
    <h3>HackYale: Student-driven lectures in web development and entrepreneurship.</h3>
    <a href='http://hackyale.com'>Website</a>
  </div>
  
  <div class='leftblock'>
    <p>
    <a href='http://hackyale.com'>HackYale</a> began in the Fall of 2011, with a single course covering web application development and front-end design. 
    In our first semester we received 500 formal applications, and a grew a community mailing list of over 1k.
    </p> 
    <p>
    Last Spring we expanded our team and curriculum to include five weekly 
  	courses covering front-end design, Rails, Node.JS, and iOS development.
    </p>
    <p>role: Co-founder.  Community, PR, development, content.</p>
    <p>collaboration with <a href="http://www.twitter.com/gaybrick">@gaybrick</a></p>
    <p class="links">
    <b>Press</b><br /> 
        <a href="http://www.yaledailynews.com/news/2011/sep/29/lecture-series-trains-future-zuckerbergs/" target="_blank">Yale Daily News</a>
        <br /><a href="http://yaleherald.com/topstory/codemakers-computer-science-at-yale-hacked/" target="_blank">Yale Herald</a>
        <br /><a href="http://yaleherald.com/culture/hacking-yale-part-ii/" target="_blank">Yale Herald</a>
        <br /><a href="http://www.yaledailynews.com/news/2012/jan/19/hackyale-to-expand/" target="_blank">Yale Daily News</a>
    </p>
  </div>
  
  <div class='rightblock'>
    <a class="fancybox" rel="group_hackyale" href="/images/work/hackyale_1.png"><img src="/images/work/hackyale_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hackyale" href="/images/work/hackyale_2.png"><img src="/images/work/hackyale_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hackyale" href="/images/work/hackyale_3.png"><img src="/images/work/hackyale_3_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hackyale" href="/images/work/hackyale_4.png"><img src="/images/work/hackyale_4_s.png" alt="" /></a>

    <div class='facebook'>
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FHackYale&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90&amp;appId=201104303315038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe>
    </div>
    
  </div>
  
  <div class='clearfix'></div>
</div>