<div id='hardlyworkin' class='project'>
  <div class='topblock clearfix'>
    <h3>HardlyWork.in: Hides your Facebook feed in a spreadsheet!</h3>
    <a href='http://hardlywork.in'>Website</a>
    <span class='date'>July 2011</span>

  </div>

  <div class='leftblock'>
    <p>
    <a href="http://hardlywork.in">HardlyWork.in</a> pulls data from the Facebook Graph and Twitter API allowing you to
    surreptitiously browse your feeds, view friends' profiles, and even preview photos and comments.
      The site drew 600k unique visits across well over one hundred countries in its first two weeks.
    </p>
    <p>
    <b>Update 2015</b> Unfortunately, due to <a href="https://developers.facebook.com/docs/apps/changelog#v2_0_login">changes in the Facebook API</a> the site is a shadow of its former self, and cannot be rebuilt.
    </p>
    <p>tools: Rails, Facebook OpenGraph, jQuery, AWS</p>
    <p class="links">
        <b>Press</b><br />
        <a href="http://mashable.com/2011/07/03/hardlyworkin-excel-facebook/">Mashable</a>
        <br /><a href="http://www.theatlantic.com/technology/archive/2011/06/hardlyworkin-turns-your-facebook-news-feed-into-a-spreadsheet/241044/">theAtlantic</a>
        <br /><a href="http://techland.time.com/2011/07/05/how-to-disguise-facebook-as-a-common-spreadsheet/">TIME</a>

        <br /><a href="http://www.hindustantimes.com/technology/Application-Reviews/How-to-Excel-at-work-using-Facebook/SP-Article1-717107.aspx">Hindustan</a>
        <!--<br /><a href="http://www.corriere.it/scienze_e_tecnologie/11_luglio_05/facebook-nascosto-lavoro_edee4a6a-a6f9-11e0-bbaa-d83a3b6f7958.shtml">Corriere</a>
        -->
        <br /><a href="http://lifehacker.com/5817620/hardlyworkin-lets-you-goof-off-on-facebook-with-maximum-stealth/" target="_blank">LifeHacker</a>
    </p>

  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_1.png"><img src="/images/work/hardlyworkin_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_2.png"><img src="/images/work/hardlyworkin_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_3.png"><img src="/images/work/hardlyworkin_3_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_4.png"><img src="/images/work/hardlyworkin_4_s.png" alt="" /></a>

    <div class='facebook' style="widht:">
      <!--
        <iframe src='http://www.facebook.com/plugins/like.php?href=http://www.hardlywork.in&amp;send=false&amp;layout=box_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:200px; height:70px;' allowTransparency='true'></iframe>
        lol
      -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <style type="text/css">#fake-like-rapper{display: inline-block;margin:0;padding:0;}#fake-like-rapper div{float:left;margin:0;padding:0;}#like-fake div.connect_widget_button_count_including, td.connect_widget_simple_including{margin:0;padding:0;}#like-fake td, td.label{font-size: 11px;text-align: left;margin:0;padding:0;}#like-fake{font-size: 11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#333;line-height:1.28;text-align: left;direction: ltr;margin-top: 1px !important; margin-left: -2px!important;position: relative;float:left;}#like-fake .uiGrid{border: 0;border-collapse: collapse;border-spacing: 0;}#like-fake .connect_widget_button_count_count{background: white;border: 1px solid #D1D1D1;float: left;font-weight: normal;height: 14px;margin-left: 1px;min-width: 17px;padding: 1px 2px 1px 2px;text-align: center;line-height: 14px;white-space: nowrap;}#like-fake .connect_widget_button_count_nub s, #like-fake .connect_widget_button_count_nub i{border: solid transparent;border-right-color: #D7D7D7;top: 1px;display: block;position: relative;border-width: 4px 5px 4px 0;}#like-fake .connect_widget_button_count_nub i{left: 2px;top: -7px;border-right-color: white;}#like-fake .connect_widget_button_count_nub {float: left; position: relative; height: 0; width: 5px; top: 3px; left: 2px; }</style><div id="fake-like-rapper"><div class="fb-like" data-href="http://www.hardlywork.in" data-send="false" data-layout="button_count" data-width="48" data-show-faces="false" data-font="arial" style="width: 48px; height: 20px; overflow: hidden;"></div><div id="like-fake"><div class="connect_widget_button_count_including"><table class="uiGrid" cellspacing="0" cellpadding="0"><tbody><tr><td><div class="thumbs_up hidden_elem"></div></td><td><div class="undo hidden_elem"></div></td></tr><tr><td><div class="connect_widget_button_count_nub"><s></s><i></i></div></td><td><div class="connect_widget_button_count_count">106k</div></td></tr></tbody></table></div></div></div>
    </div>

  </div>

  <div class='clearfix'></div>
</div>