<div id='hardlyworkin' class='project'>
  <div class='topblock clearfix'>
    <h3>HardlyWork.in: Hides your Facebook feed in a spreadsheet!</h3>
    <a href='http://hardlywork.in'>Website</a>
  </div>
  
  <div class='leftblock'>
    <p>
    <a href="http://hardlywork.in">HardlyWork.in</a> was developed as a weekend project in July of 2011.
      The site drew 600k unique visits across 136 countries in its first two weeks of launch.
    </p>
    <p>
      Update:<br />
      Currently battling <a href='https://developers.facebook.com/bugs/286461711462961?browse=search_506b26098d5945f92854834'>Facebook</a>
      to get my 'likes' back. HardlyWorkin's graph object dropped from over 100k likes to just under 2k in October.
      So far this has been unresolved.. :(
    </p>
    <p>tools: Rails, Facebook OpenGraph, jQuery, AWS</p>
    <p class="links">
        <b>Press</b><br /> 
        <a href="http://mashable.com/2011/07/03/hardlyworkin-excel-facebook/">Mashable</a>
        <br /><a href="http://www.theatlantic.com/technology/archive/2011/06/hardlyworkin-turns-your-facebook-news-feed-into-a-spreadsheet/241044/">theAtlantic</a>
        <br /><a href="http://techland.time.com/2011/07/05/how-to-disguise-facebook-as-a-common-spreadsheet/">TIME</a>
        <!--
        <br /><a href="http://www.hindustantimes.com/technology/Application-Reviews/How-to-Excel-at-work-using-Facebook/SP-Article1-717107.aspx">Hindustan</a> 
        <br /><a href="http://www.corriere.it/scienze_e_tecnologie/11_luglio_05/facebook-nascosto-lavoro_edee4a6a-a6f9-11e0-bbaa-d83a3b6f7958.shtml">Corriere</a>
        -->
        <br /><a href="http://lifehacker.com/5817620/hardlyworkin-lets-you-goof-off-on-facebook-with-maximum-stealth/" target="_blank">LifeHacker</a>
    </p>

  </div>
  
  <div class='rightblock'>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_1.png"><img src="/images/work/hardlyworkin_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_2.png"><img src="/images/work/hardlyworkin_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_3.png"><img src="/images/work/hardlyworkin_3_s.png" alt="" /></a>
    <a class="fancybox" rel="group_hardly" href="/images/work/hardlyworkin_4.png"><img src="/images/work/hardlyworkin_4_s.png" alt="" /></a>

    <div class='facebook'>
      <iframe src='http://www.facebook.com/plugins/like.php?href=hardlywork.in&amp;send=false&amp;layout=box_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:200px; height:70px;' allowTransparency='true'></iframe>   
    </div>
    
  </div>
  
  <div class='clearfix'></div>
</div>