<div id='saybot' class='project'>
  <div class='topblock clearfix'>
    <h3>Slackbot w/ Airplay Speakers </h3>
    <span class='date'>Fall 2017</span>
  </div>

  <div class='leftblock'>
      <p>
        A slackbot that can connect to your local Airplay/Airport LAN speakers and speak out your messages for you. 
        Possibilities abound.
      </p>
      <p>tools: Ruby</p>
      <p><a href="https://github.com/baygross/saybot">code</a>
  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_saybot" href="/images/work/saybot_1.png"><img src="/images/work/saybot_1.png" alt="" /></a>
  </div>

  <div class='clearfix'></div>
</div>
