<div id='stats' class='project'>
  <div class='topblock clearfix'>
    <h3>Undergraduate Coursework in Statistics & Networks </h3>
    <span class='date'>2013</span>
  </div>

  <div class='leftblock'>
      <p>
        Many interesting projects in Yale Stats 230 and Sociology 137 -- highly recommend both courses. Two projects of note I'll mention here, both relied heavily on data scraping, cleaning, structuring, and analysis.
      </p><p>
        - an analysis of AirBNB unit prices in Manhattan relative to distance from subway (TLDR: less impactful than you would think)
        </p><p>
        - an analysis of undergraduate social structures (proxied by living-group) relative to family income (proxied by Zillow assessed value of home property). (TLDR: more impactful than you would hope)
      </p>
      <p>tools: R, SQL, Ruby, Python, Pajek</p>
      <p>collab with <a href="http://twitter.com/kevinakwok">@kevinakwok</a>
  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_stats" href="/images/work/stats_1.png"><img src="/images/work/stats_1.png" alt="" /></a>
    <a class="fancybox" rel="group_stats" href="/images/work/stats_2.png"><img src="/images/work/stats_2.png" alt="" /></a>
    <a class="fancybox" rel="group_stats" href="/images/work/stats_3.png"><img src="/images/work/stats_3.png" alt="" /></a>
    <a class="fancybox" rel="group_stats" href="/images/work/stats_4.png"><img src="/images/work/stats_4.png" alt="" /></a>
    <a class="fancybox" rel="group_stats" href="/images/work/stats_5.png"><img src="/images/work/stats_5.png" alt="" /></a>
  </div>

  <div class='clearfix'></div>
</div>
