<div id='turntaylor' class='project'>
  <div class='topblock clearfix'>
    <h3>TurnTaylor.fm: Listen to Taylor together.</h3>
    <a href='http://turntaylor.fm'>Website</a>
  </div>
  
  <div class='leftblock'>
      <p>
        TurnTaylor.fm is the future of 
        online social music listening. Similar to internet-rival
        <a href="http://turntable.fm">TurnTable.fm</a>, 
        but optimized for #taylortuesdays.
      </p>
        
      <p>role: Co-founder, CEO, Swiftie</p>
      <p>tools: Ruby, Sinatra, and a cavalier disregard of copyright law</p>
      <p class="links"> 
          <a href="http://turntaylor.fm" target="_blank">Come listen!</a>
      </p>
  </div>
  
  <div class='rightblock'>
    <a class="fancybox" rel="group_choma" href="/images/work/turntaylor_2.png"><img src="/images/work/turntaylor_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_choma" href="/images/work/turntaylor_1.png"><img src="/images/work/turntaylor_1_s.png" alt="" /></a>
  
    <div class='facebook'>
      <iframe src="//www.facebook.com/plugins/like.php?href=http://www.turntaylor.fm&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90&amp;appId=201104303315038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe>
    </div>
  </div>
  
  <div class='clearfix'></div>
</div>
