<div id='whatsherface-book' class='project'>
  <div class='topblock clearfix'>
    <h3>WhatsHerFace-book: Do you <i>know</i> your friends?</h3>
    <a href='https://github.com/baygross/StrangerFB'>Code</a>
    <a href='http://whatsherface-book.com'>Website</a>
    <span class='date'>Dec 2011</span>

  </div>

  <div class='leftblock'>
    <p>
      The average college student knows less than <span style="font-size:1.2em">&#190;</span> of zer 'friends' on Facebook.
    </p>
    <p>
      <a href="http://whatsherface-book.com">WhatsHerFace-book.com</a> is a quick,
       personalized game where you are challenged to name
      several of your Facebook friends in succession while racing the clock.
    </p>
    <p>
      The game intends to help Facebook users reconsider their privacy exposure online.
      By now, we all know to restrict our profiles so that only friends can see our personal information.
      But after 3, 4, 5+ years of social networking, do you still even know all your friends?
    </p>
    <p>
      After aggregating the results of ten thousand games from over four thousand players,
      we are left with some surprising <a href="http://whatsherface-book.com/results">statistics</a>.
    </p>
    <p>
      <strong>Update 2015:</strong> FB tried to shut us down! Special <a href="https://www.eff.org/deeplinks/2015/07/eff-defends-whats-her-face-facebook">thanks to the EFF!</a>
    </p>
    <p>collaboration with <a href="http://charliecroom.com">@charliecroom</a> as part of <a href="http://www.yalelawtech.org/" target="_blank">Yale Law &amp; Tech</a>
    <br/>and, we are <a href="https://www.psychologytoday.com/sites/default/files/Whatsherfacebook_0.pdf">published!</a></p>
    <p>tools: Rails, jQuery, Facebook OpenGraph, AWS</p>

    <p class="links">
    <b>Press</b><br />
        <a href="http://www.forbes.com/sites/kashmirhill/2011/12/15/as-facebook-timeline-rolls-out-find-out-how-well-you-know-your-friends/"target="_blank">Forbes</a>
        <br /><a href="http://www.dailymail.co.uk/sciencetech/article-2074554/Facebook-timeline-feature-Mixed-reaction-latest-changes.html"target="_blank">DailyMail</a>
        <br /><a href="http://www.allfacebook.com/that%E2%80%99s-a-facebook-photo-of-%E2%80%A6-what%E2%80%99sherface-2011-12"target="_blank">AllFaceBook</a>
        <br /><a href="https://www.eff.org/deeplinks/2015/07/eff-defends-whats-her-face-facebook">EFF Defense</a>
        <br /><a href="http://arstechnica.com/tech-policy/2015/07/facebooks-legal-team-goes-after-defunct-yale-class-project/">Ars Technica</a>

     </p>


  </div>

  <div class='rightblock'>
    <a class="fancybox" rel="group_whatsher" href="/images/work/whatsherface_1.png"><img src="/images/work/whatsherface_1_s.png" alt="" /></a>
    <a class="fancybox" rel="group_whatsher" href="/images/work/whatsherface_2.png"><img src="/images/work/whatsherface_2_s.png" alt="" /></a>
    <a class="fancybox" rel="group_whatsher" href="/images/work/whatsherface_3.png"><img src="/images/work/whatsherface_3_s.png" alt="" /></a>

    <div class='facebook'>
      <iframe src="//www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/WhatsHerFacebook/195383003882500&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90&amp;appId=201104303315038" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe>
    </div>

  </div>

  <div class='clearfix'></div>
</div>
